<table 
  style="@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700i';
        font-family: 'Open Sans', sans-serif; 
         font-size: 16px"
 >
  <tr>
    <td>
      <img
         src="logo.jpg" 
         alt="" 
         width="300" 
         height="auto" 
         style="display:block; margin-right: 10px;"
       >
    </td>
    <td 
      style="vertical-align:top; 
             padding-left:10px; 
             border-left: 6px solid #8B234C;"
    >
      <strong 
        style="font-size:1em;
               font-style: italic; 
               display: block; 
               margin-bottom: 3px; 
               color: #8B234C;
               border-bottom: 5px solid;
               width: 110%;"
      >
        Daniel Camino
      </strong>
      <p 
        style="font-size:.8em; 
               margin: 0; 
               color: #666"
      >
      Presidente 
      <br />
      <span style="font-style:italic;">
        Teléfonos: (0414) 769 53 86 - (0293) 432 36 89
      </span>
      <a 
         href="http://www.radoca.com.ve/" 
         style="display:block;
                text-decoration: none;
                font-size: 1em;
                margin-bottom: 8px; 
                color: #8B234C"
       >
        http://www.radoca.com.ve/
      </a>
      </p>
    </td>
  </tr>
</table>